#### [실습] 자신의 이름을 변수 name에 할당하고 자신의 나이를 변수 age에 할당하기

In [ ]:
name = '원칠'
age = 31

#### [실습] x에 10.1을 저장하고, y에 101을 저장한 다음 더한후 정수로 출력

In [1]:
x = 10.1
y = 101

int(x+y)

111

#### [실습] a=1, b=5로 할당하고 문자 'a + b는'과 a+b 계산 결과를 print( )로 함께 출력

출력 결과 예시  
`1 + 5는 6`

In [3]:
a = 1
b = 5
ab = a+b
print(f'a+b는 {ab}')

a+b는 6

#### [실습] 다음 클래스를 활용해 자신의 이름과 나이가 들어간 인스턴스 변수(member)생성하고, 메소드를 통해 다음 문구 출력

`저의 이름은 000, 나이는 00 입니다.`

In [5]:
class Member:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def print_info(self):
        return f'저의 이름은 {self.name} 나이는 {self.age} 입니다.'

In [6]:
member = Member('최원칠',31)
member.print_info()

'저의 이름은 최원칠 나이는 31 입니다.'

<br>

#### [실습]

1. 구구단 19단 출력하기  
`19 X 1 = 19`  
`19 X 2 = 38 ... ` 

2. 아래의 숫자 리스트 *x* 에서 10 이상인 숫자만 따로 모아 합계 계산하기

In [ ]:
#1. 참고
print(f'{19} X {1} = {19}')

In [7]:
for i in range(1,20):
    print(f'{19} X {i} = {19*i}')

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
19 X 11 = 209
19 X 12 = 228
19 X 13 = 247
19 X 14 = 266
19 X 15 = 285
19 X 16 = 304
19 X 17 = 323
19 X 18 = 342
19 X 19 = 361

In [9]:
#2. 
x = [9, 10, 4, 22, 3, 19]

In [11]:
sum_x = 0
for i in x:
    if i >=10:
        sum_x += i
sum_x

51


#### [실습] 점심/저녁 메뉴 3개를 리스트로 묶어 menu로 저장하기

In [ ]:
menu = ['김밥','돈까스','치킨']

#### [실습] 1~45까지 숫자 중에서  6의 배수 숫자만 리스트로 만들어 저장하기

In [12]:
[x for x in range(1,46) if x%6==0]

[6, 12, 18, 24, 30, 36, 42]

#### [실습] 관심있는 메뉴 3개를 묶은 menu 리스트를 생성하고 append( )로 메뉴 하나 더 추가하기

In [14]:
menu = ['김밥','돈까스','치킨']
menu.append('덮밥')
menu

['김밥', '돈까스', '치킨', '덮밥']

#### [실습] 다음 두 리스트를 이어붙이고 이름 순으로 정렬하여 출력하기

In [23]:
list1 = ['a','f','c']
list2 = ['b','e']

list1.extend(list2)
list1.sort()
list1

['a', 'b', 'c', 'e', 'f']

In [24]:
list1 = ['a','f','c']
list2 = ['b','e']

list3 = list1 + list2
list3.sort()
list3

['a', 'b', 'c', 'e', 'f']

#### [실습] menu에서 첫번째 메뉴만 선택


#### [실습] menu에서 세번째 메뉴를 '우동'으로 변경

In [27]:
menu = ['돈까스', '삼겹살', '치킨']

In [28]:
menu[0]

'돈까스'

In [29]:
menu[2] = '우동'
menu

['돈까스', '삼겹살', '우동']

<br>

#### [실습] 다음 s1 문자열을 활용하여 print()안의 문자열이  다음처럼 출력되게 포맷을 완성

나는 빨리 퇴근 하고 싶다. 하지만 퇴근 시간은 1시간 이나 남아있다.

In [3]:
s ='하지만, 퇴근, 1시간'

In [4]:
w = s.split(',')
print(f'나는 빨리 {w[1].strip()} 하고 싶다. {w[0]} 퇴근 시간은 {w[2].strip()} 이나 남아있다.')

['하지만', ' 퇴근', ' 1시간']

#### [실습] 각자 본인의 아래 정보를 딕셔너리로 저장

(딕셔너리의 값(value)에 리스트를 넣는 것도 가능)

* 이름
* 부서
* 연차
* 관심메뉴 3개(리스트로 구성)

In [31]:
my_info = {}

In [32]:
my_info['이름'] = '최원칠'
my_info['부서'] = 'AIOT'
my_info['연차'] = '4'
my_info['관심메뉴'] = ['돈까스','제육','치킨']
my_info

{'이름': '최원칠', '부서': 'AIOT', '연차': '4', '관심메뉴': ['돈까스', '제육', '치킨']}

<br>

#### [실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 자유롭게 데이터 탐색하기

In [34]:
import pandas as pd
df_pr = pd.read_csv('./data/PulseRates.csv')
df_pr.head()

,Height,Weight,Age,Gender,Smokes,Alcohol,Exercise,Ran,Pulse1,Pulse2,Year
0,173,57.0,18,2,2,1,2,2,86.0,88.0,93
1,179,58.0,19,2,2,1,2,1,82.0,150.0,93
2,167,62.0,18,2,2,1,1,1,96.0,176.0,93
3,195,84.0,18,1,2,1,1,2,71.0,73.0,93
4,173,64.0,18,2,2,1,3,2,90.0,88.0,93

In [35]:
df_pr.shape

(110, 11)

In [37]:
df_pr.columns

Index(['Height', 'Weight', 'Age', 'Gender', 'Smokes', 'Alcohol', 'Exercise',
       'Ran', 'Pulse1', 'Pulse2', 'Year'],
      dtype='object')

In [39]:
df_pr.dtypes

Height        int64
Weight      float64
Age           int64
Gender        int64
Smokes        int64
Alcohol       int64
Exercise      int64
Ran           int64
Pulse1      float64
Pulse2      float64
Year          int64
dtype: object


<br>  

####  [실습] 아래의 사이트에서 관심있는 데이터를 탐색하기

* csv 파일 중 인코딩 관련 에러가 발생할 경우 read_csv( )안에서 `encoding='CP949'` 옵션 추가
* xlsx의 경우 다운로드한 파일을 열어서 읽기 전용을 해제해야 할 수도 있음



[공공데이터포털](https://www.data.go.kr/index.do)

[서울 열린데이터 광장](http://data.seoul.go.kr/)

[kaggle](https://www.kaggle.com/)

In [ ]:
import pandas as pd

<br>

#### [실습] 다음 리스트형태의 데이터를 활용하여 컬럼이 score1, score2, score3, total 이고 인덱스가 4명의 이름인 DataFrame을 생성 
total컬럼에는 현재 인덱스의 스코어 총합이 입력


#### [실습] 결과 DataFrame에서 연진에 해당하는 점수들만 출력

In [47]:
n_list = ['동은','연진','여정','재준']
score1 = [76,62,64,62]
score2 = [56,74,51,44]
score3 = [81,35,74,63]

In [50]:
import pandas as pd

total = []
for i in range(4):
    st = score1[i] + score2[i] +score3[i]
    total.append(st)

df = pd.DataFrame({'score1':score1, 
                   'score2':score2, 
                   'score3':score3,
                   'total':total}, 
                  index = n_list)
df

    score1  score2  score3  total
동은      76      56      81    213
연진      62      74      35    171
여정      64      51      74    189
재준      62      44      63    169

In [59]:
df.loc['연진']

score1     62
score2     74
score3     35
total     171
Name: 연진, dtype: int64